/* tv support remote webapp V0.1a - CSS

  StephaneAG - 2017
*/
html, body { padding: 0; margin: 0; }
body {
  text-align: center;
  font-family: monaco, monospace;
  background: #1F1F1F;
  //background-size: contain;
  //background-repeat: no-repeat;
}
/* * { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; } */
* { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
h1, h2 {
  //display: inline-block;
  background: #fff;
}
h1 {
  font-size: 30px;
  font-weight: 500;
}
h2 {
  font-size: 20px;
}
span {
  background: #fd0;
}
p { font-size: 16px; color: white; }
.tiretSpacer {
  width: 40px;
  border-bottom: 1px solid grey;
  margin: 0 auto;
  margin-top: 20px;
}
.remoteBtn { margin-top: 5px; margin-bottom: 5px; display: block; color: white; cursor: pointer; }
.appName { margin-bottom: 0px; padding: 10px; }
.connectionStatus {  background: #7EF7EF; font-weight: 500; padding: 7px; margin: 0px; }


/* ---- tv screen & support css realtime animation tied to device orientation movement ---- */
.tvScreenContainer {
  position: relative;
  backface-visibility: visible;
  perspective: 300px;
  perspective-origin: center center;
  transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
  -webkit-transform-style: preserve-3d;
  width: 200px;
  height: 100px;
  border: 1px solid ghostwhite;
  border-radius: 5px;
  left: calc(50% - 100px);
}

.ball {
  display: none;
  transform: translateZ(100px);
  position: absolute;
  z-index: 2;
  top   : 90px;
  left  : 90px;
  width : 5px;
  height: 5px;
  background: grey;
  border-radius: 100%;
}

.tvAndSupport {
  position: absolute;
  top   : 17.5px;
  left  : 50px;
  width : 100px;
  height: 60px;
  border-radius: 5px;
  background: #7EF7EF;
  border-radius: 5px;
  border: 2px solid ghostwhite;
}

.output { color: white; }
